{{#if view.currentCategoriesResume}}
  <div class="filter-legend">
    {{view.currentCategoriesResume}}
    {{#if hasSearchParams}}
      <i class="fa fa-times" {{action "resetFilters"}}></i>
    {{/if}}
  </div>
{{/if}}
<div id="container">
  {{#if isLoading}}
    {{partial "walla-loading"}}
  {{else}}
    {{#each product in this}}
      {{#link-to 'products.show' product.id}}
        <div class="item product">
          {{unbound product.smallImage}}
          <div class="product-image" style="background-image: url({{product.smallImage}})"></div>
          <footer>
            <div class="title">{{product.title}}</div>
            <div class="price">{{product.salePrice}} €</div>
          </footer>
        </div>
      {{/link-to}}
    {{/each}}
  {{/if}}
</div>
{{#if loadingMore}}
  {{partial "walla-loading"}}
{{/if}}
