<div class="product-carrousel">
  {{{view.sliderHTML}}}
</div>
<div class="user-info">
  <div class="user-img"></div>
  <div class="user-name">{{sellerUser.microName}}</div>
</div>
<div class="product-info-wrapper">
  <div class="product-info block">
    <header>
      <div class="title">{{title}}</div>
      <div class="price">{{salePrice}}€</div>
    </header>
    <div class="description">{{description}}</div>
  </div>
  <div class="product-location block">
    {{view "products/map"}}
  </div>
</div>
