{{partial "application-header"}}
<div class="application-content">
  <slider-menu id="application-menu" position="left" progress={{applicationMenuExpandedRatio}} defaultSpeed={{menuExpansionSpeed}}>
    <div class="menu-item collections">
      <div {{action "openCollections"}}>
        <i class="fa fa-heart"></i> Collections
      </div>
    </div>
    <div class="menu-item categories" {{action "toggleCategories"}}>
      <i class="fa fa-th-list"></i> Categories
    </div>
    <div class="sub-section {{if showCategories "visible"}}">
      <ul>
        {{#each category in allCategories}}
          <li class="category" {{action "openCategory" category.id}}>{{category.name}}</li>
        {{/each}}
      </ul>
    </div>
  </slider-menu>
  {{view "search-filter" visibleWhen=view.showFilters}}
  <content-overlay id="application-overlay" visibility={{applicationMenuExpandedRatio}}></content-overlay>
  {{outlet}}
</div>
