<div class="query">
  {{input type="search" value=keywords class="search-query" placeholder="What are you looking for?"}}
</div>
<div class="location-search">
  <i class="fa fa-location-arrow"></i>
  Where are you searching for it?
  <i class="fa fa-chevron-right arrow"></i>
</div>
{{#view "filter-section" title="Categories" class="categories"}}
  {{#each category in allCategories}}
    <li>
      {{input type="checkbox" checked=category.selected}} {{category.name}}
    </li>
  {{/each}}
{{/view}}
{{#view "filter-section" title="Distance" class="distance"}}
  <li>
    Close (1km)
  </li>
  <li>
    My area (5km)
  </li>
  <li>
    My city (10km)
  </li>
  <li>
    Without limit
  </li>
{{/view}}
{{#view "filter-section" clickable=false title="Price" class="price"}}
  <li>From {{input type="text" value=priceMin}}</li>
  <li>To {{input type="text" value=priceMax}}</li>
{{/view}}
{{#view "filter-section" title="Order by" class="order"}}
  {{#each order in orders}}
  <li {{bind-attr class=":clickable order.selected:selected"}} {{action "selectOrder" order}}>
    {{order.title}}
  </li>
  {{/each}}
{{/view}}
