<div class="query">
  {{input type="search" value=keywords class="search-query" placeholder="What are you looking for?"}}
</div>
{{#view "filter-section" title="Where are you searching for it?" class="location-search" visible=false}}
  {{view "location-map"}}
{{/view}}
{{!-- <i class="fa fa-location-arrow"></i> --}}
{{#view "filter-section" title=view.categoriesTitle class="categories"}}
  {{#each category in allCategories}}
    <li {{bind-attr class="category.selected"}} {{action "selectCategory" category}}>
      <div {{bind-attr class=":custom-checkbox category.selected:checked"}}>
        <i class="fa fa-check"></i>
      </div> {{category.name}}
    </li>
  {{/each}}
{{/view}}
{{#view "filter-section" title="Distance" class="distance"}}
  <li>
    Close (1km)
  </li>
  <li>
    My area (5km)
  </li>
  <li>
    My city (10km)
  </li>
  <li>
    Without limit
  </li>
{{/view}}
{{#view "filter-section" clickable=false title=view.pricesTitle class="price"}}
  <li>From {{input type="number" value=priceMin}}</li>
  <li>To {{input type="number" value=priceMax}}</li>
{{/view}}
{{#view "filter-section" title=view.orderTitle class="order"}}
  {{#each order in orders}}
  <li {{bind-attr class=":clickable order.selected"}} {{action "selectOrder" order}}>
    {{order.title}}
  </li>
  {{/each}}
{{/view}}
