<div class="column user-stats">
	<div>
		<img src={{smallImage}}>
	</div>
	<div class="item-count">
    <p>{{sellingCount}} for sale</p>
    <p>{{selledCount}} sold</p>
	</div>
</div>
<div class="column user-info">
  <div class="user-name">
    <p>{{microName}}</p>
    <p>{{location.city}}</p>
  </div>
  <div class="profile-verification">
    <p>Profile verified</p>
    <div>
      <i class="fa fa-envelope {{if isEmailVerified "verified"}}"></i>
      <i class="fa fa-phone {{if isCellPhoneVerified "verified"}}"></i>
      <i class="fa fa-facebook {{if isFacebookVerified "verified"}}"></i>
      <i class="fa fa-google {{if isGooglePlusVerified "verified"}}"></i>
    </div>
  </div>
  <div class="received-reviews">
    <p>
      <span>{{receivedReviewsCount}}</span> Reviews
      <i class="fa fa-angle-right"></i>
    </p>
  </div>
</div>
